/* .createaccount a {
    
} */

.enterthe{
    padding-top: 100px;
}
.resendbtn{
    text-decoration: none;
    font-size: 15px;
    color: rgb(91, 134, 229);
    padding-right: 10px;
    /* list-style: none; */
    font-weight: 800;
}
/* .Dont ul li{
    list-style: none;
 
     
} */