.ftdiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 100px;
}
.arecom {
  color: rgb(72, 72, 72, 100);
  color: black;
  font-weight: 700;
}
.footer-box a {
  text-decoration: none;
  padding: 10px;
  color: rgb(72, 72, 72, 100);
  gap: 10px;
}
.copydiv {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(72, 72, 72, 100);
  padding-top: 10px;
}
body.dark .copy{
  color: white;
}