.createaccount a {
    text-decoration: none;
    color: white;
}
.alreadyhave{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.loginbtnforget{
    text-decoration: none;
}
.error{
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
.inputfields {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 13px;
  padding-top: 20px;
}
.row {
  display: flex;
  gap: 30px;
}
.field {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.field input {
  border: none;
  border-bottom: 1px solid rgb(131, 131, 131);
  outline: none;
  padding: 6px 0;
}
.field input::placeholder {
  color: rgb(157, 157, 157);
  font-size: 13px;
}
.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
@media (max-width:535px) {
    .leftsignupsideimg{
    max-width: 500px;
    width: 100%;
    height: 300px;
}
}