/* HEADER WRAPPER */
.header {
  height: 80px;
  display: flex;
  align-items: center;
  /* border-bottom: 1px solid #eee; */
  position: sticky;
}

/* NAV */
.nav {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

/* LOGO */
.logo {
  font-size: 22px;
  font-weight: bold;
}

/* LINKS */
.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

/* SIGNUP BUTTON */
.signup-btn {
  background: black;
  color: white !important;
  padding: 8px 18px;
  border-radius: 6px;
}

/* HAMBURGER */
.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* ================= MOBILE ================= */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: white;
    flex-direction: column;
    display: none;
    padding: 20px 0;
    gap: 20px;
    border-bottom: 1px solid #eee;
  }

  .nav-links.active {
    display: flex;
  }
}
