.fouritemsdiv{
display: flex;
justify-content: center;
align-items: center;
gap: 80px;
margin-top: 30px;
margin: 10px;
}

.stay{
    max-width: 350px
}

.follow{
    display: flex;
    
    align-items: center;
    
    flex-direction: column;
    padding-top: 100px;
}
.follow h6{
    font-size: 23px;
}
.browncoat{

    max-width: 200px;
    width: 100%;
    height: 260px;
}

.blueheel{
    max-width: 220px;
    width: 100%;
    height: 340px;
     
}
.greydress{
    max-width: 200px;
    width: 100%;
    height: 260px;
}
.redpant{
    max-width: 220px;
    width: 100%;
    height: 340px;
}
.blackcoat{
     max-width: 200px;
    width: 100%;
    height: 260px;
}
.blackgirl{
    max-width: 200px;
    width: 100%;
    height: 340px;
}
.redfull{
    max-width: 200px;
    width: 100%;
    height: 230px;
}

.followsecimg{
    padding: 20px;
}
.thisissection{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(250, 250, 250);
    margin-top: 50px;
    padding: 50px;
    
    
    
}
.is{
    font-size: 35px;
     
     color: rgb(72, 72, 72);
   

}
.cardbox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    
}
.card1{
    background-color: #e9e9e9;
    display: flex;
    align-items: center;
    padding: 20px;
    
}
.card2{
    background-color: #e9e9e9;
     display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;
    
}

.blacktshirt{
   max-width: 500px;
    width: 100%;
    height: auto;


}
.yellowshirt{
   max-width: 500px;
    width: 100%;
    height: auto;


}



.you{
    max-width: 200px;
    width: 100%;
}
.hrcard1{
    max-width: 100px;
    background-color: gray;
    height: 10px;
}
.btndiv{
    gap: 10px;
    margin-top: 30px;
}

.previousbtn{
    padding: 10px;
    background-color: #ddd;
    border: none;
    border-radius: 20px;
    margin: 5px;
}
.previousbtn:focus {
  outline: none;
}

.nextbtn{
    padding: 10px;
    margin: 5px;
    background-color: #ddd;
    
    border-radius: 20px;
    border: none;
     border: none !important;
  box-shadow: none !important;
}
.nextbtn:focus {
  outline: none;
}
.lastsectionscubs{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    flex-wrap: wrap;
    
}
.subsdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.subsnow{
    background-color: black;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: 600;
    margin-bottom: 10px;
}
.subscribeto{
    color: rgb(72, 72, 72);
    font-size: 23px;
}
.getthe{
    color: rgb(138, 138, 138);
    max-width: 500px;
    width: 100%;
    font-size: 13.5px;
}
.camelcoat{
    max-width: 270px;
    width: 100%;
     height: 400px;
}
.darkgreycoat{
    max-width: 200px;
    height: 400px;
    width: 100%;
}



.ftdiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;

}

.ftdiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;

}
.arecom{
    color: rgb(72, 72, 72);
    color: black;
    font-weight: 700;
}
.footer-box a{
    text-decoration: none;
    padding: 10px;
    color: rgb(72, 72, 72);
    gap: 10px;
}
.copydiv{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(72, 72, 72);
    padding-top: 10px;
}