.scroll-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 45px;
  height: 45px;
  background: #2f2f30;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 25px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 999;
}

.scroll-btn.show {
  opacity: 1;
  visibility: visible;
}

.scroll-btn:hover {
  background: #515152;
  transform: translateY(-3px);
}