.myheader {
  padding-top: 70px;
  height: 80px;
  display: flex;
  align-items: center;
}
body {
  overflow-x: hidden;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 34px;
  margin: 0;
  padding: 0;
}
nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.arecom {
  font-size: 22px;
}
.signup {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
}
.signup {
  background-color: black;
  color: white;
  padding: 10px 30px;
  border-radius: 10px;
}
.fashiondiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}
.nxtbtimg {
  max-width: 7px;
  width: 100%;
}
.homefashion {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}
.homefashion li {
  list-style: none;
}
.homefashion li a {
  text-decoration: none;
  color: rgb(72, 72, 72);
}
.homefashion p {
  margin-left: 10px;
}
.myleftside {
  max-width: 400px;
  width: 100%;
}
.right {
  max-width: 900px;
  height: 100vh;
  width: 100%;
}
.leftrightdiv {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.size {
  font-size: 20px;
  color: rgb(0, 0, 0);
  padding-bottom: 10px;
}

.btnalldiv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
.box span {
  border: 1px solid gray;
  margin: 10px;
  padding: 12px;
  cursor: pointer;
}
.box span:hover{
  border: 1px solid gray;
  margin: 10px;
  padding: 12px;
  cursor: pointer;
  background-color: #000000;
  color: white;
}
.prices p {
  margin-top: 10px;
  cursor: pointer;
  color: rgb(138, 138, 138);
}
.price {
  font-size: 18px;
  padding-top: 50px;
}
.brandlabel {
  padding-right: 5px;
}
.collections {
  padding-top: 20px;
  font-size: 20px;
}
.collection p {
  cursor: pointer;
  color: rgb(138, 138, 138);
}
.tagsdiv {
  display: flex;
  gap: 20px;
}
.tagsdiv {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.tagsdiv span {
  background: #eee;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(88, 88, 88);
}
.tagsdiv span:hover{
  background: #000000;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}
.right {
  max-width: 900px;
  width: 100%;
  height: 1100px;
}
.imgssec img {
  max-width: 250px;
  height: 300px;
  width: 100%;
  padding-bottom: 10px;
  border-radius: 30px;
}
.imgtitle {
  font-weight: 700;
}
.itsmypeakysection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 800px;
  gap: 20px;
}
.girlside {
  max-width: 500px;
  width: 100%;
  height: 300px;
}
.womencollection {
  color: rgb(138, 138, 138);
  font-size: 14px;
}
.Peakyblinders {
  color: rgb(72, 72, 72);
}
.desc {
  color: rgb(138, 138, 138);
  font-size: 14px;
  color: black;
}
.ipsum {
  color: rgb(118, 118, 118);
  max-width: 700px;
  width: 100%;
}
.Peakyblinders {
  background-color: rgb(218, 218, 218);
  padding: 42px;
}
.sizediv {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}
.m {
  background-color: black;
  color: white;
  padding: 3px 20px;
  border-radius: 3px;
}
.hundred {
  font-size: 30px;
  color: black;
}
.buy {
  background-color: black;
  color: white;
  padding: 10px 30px;
  border-radius: 10px;
  font-weight: 600;
  outline: none;
  box-shadow: none;
}
.warrentydiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.qualitydiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.freediv {
  display: flex;
  justify-content:center;
  align-items: center;
}
.calldiv {
  display: flex;
  justify-content:center;
  align-items: center;
}
.dedicated,
.crafted,
.over,
.order {
  font-size: 12px;
}
.icon {
  max-width: 400px;
  width: 100%;
  height: 40px;
}
.fouritemsdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px;
  margin-top: 30px;
}
.sit {
  max-width: 300px;
}
.follow {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}
.browncoat {
  max-width: 200px;
  width: 100%;
  height: 260px;
}
.blueheel {
  max-width: 220px;
  width: 100%;
  height: 340px;
}
.greydress {
  max-width: 200px;
  width: 100%;
  height: 260px;
}
.redpant{
  max-width:220px;
  width:100%;
  height:340px;
}
.blackcoat {
  max-width:200px;
  width:100%;
  height:260px;
}
.blackgirl {
  max-width: 200px;
  width: 100%;
  height: 340px;
}
.redfull {
  max-width: 200px;
  width: 100%;
  height: 230px;
}

.followsecimg {
  padding: 20px;
}
.thisissection {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(250, 250, 250);
  margin-top: 50px;
  padding: 50px;
}
.is {
  font-size: 35px;
  color: rgb(72, 72, 72);
}
.cardbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.card1 {
  background-color: #e9e9e9;
  display: flex;
  align-items: center;
}
.card2 {
  background-color: #e9e9e9;
  display: flex;
  align-items: center;
}
.blacktshirt {
  max-width: 100px;
  width: 100%;
}
.you {
  max-width: 500px;
}
.hrcard1 {
  max-width: 100px;
  background-color: gray;
  height: 10px;
}
.btndiv {
  gap: 10px;
  margin-top: 30px;
}
.previousbtn {
  padding: 10px;
  background-color: #ddd;
  border: none;
  border-radius: 20px;
  margin: 5px;
}
.previousbtn:focus {
  outline: none;
}
.nextbtn {
  padding: 10px;
  margin: 5px;
  background-color: #ddd;
  border-radius: 20px;
  border: none;
  border: none !important;
  box-shadow: none !important;
}
.nextbtn:focus {
  outline: none;
}
.lastsectionscubs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.subsdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.subsnow {
  background-color: black;

  color: white;
  padding: 10px 30px;
  border-radius: 10px;
  font-weight: 600;
}
.news {
  color: rgb(72, 72, 72);
  font-size: 35px;
}
.amet {
  color: rgb(138, 138, 138);
  max-width: 500px;
  width: 100%;
  font-size: 14.5px;
}
.camelcoatpic {
  max-width: 5000px;
  width: 100%;
  height: 400px;
}
.darkgreycoatpic {
  max-width: 200px;
  height: 400px;
  width: 100%;
}
.ftdiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 100px;
}
.arecom {
  color: rgb(72, 72, 72);
  color: black;
  font-weight: 700;
}
.footer-box a {
  text-decoration: none;
  padding: 10px;
  color: rgb(72, 72, 72);
  gap: 10px;
}
.copydiv {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(72, 72, 72);
  padding-top: 10px;
}

@media (max-width: 425px) {
  .fashiondiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
  }
  .nxtbtimg {
    max-width: 7px;
    width: 100%;
  }
  .homefashion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .homefashion li {
    list-style: none;
  }
  .homefashion li a {
    text-decoration: none;
    color: rgb(72, 72, 72);
  }
  .homefashion p {
    margin-left: 10px;
  }
  .myleftside {
    max-width: 400px;
    width: 100%;
    padding-left: 50px;
  }
  .right {
    max-width: 900px;
    height: 100vh;
    width: 100%;
    padding-left: 50px;
    padding-top: 30px;
    margin-bottom: 300px;
  }

  .leftrightdiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .size {
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding-bottom: 10px;
  }
  .box span {
    border: 1px solid gray;
    margin: 10px;
    padding: 12px;
    cursor: pointer;
  }
  .prices p {
    margin-top: 10px;
    cursor: pointer;
    color: rgb(138, 138, 138);
  }
  .price {
    font-size: 18px;
    padding-top: 50px;
  }
  .brandlabel {
    padding-right: 5px;
  }
  .collections {
    padding-top: 20px;
    font-size: 20px;
  }
  .collection p {
    cursor: pointer;
    color: rgb(138, 138, 138);
  }
  .tagsdiv {
    display: flex;
    gap: 20px;
  }
  .tagsdiv {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .tagsdiv span {
    background: #eee;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(88, 88, 88);
  }
  .right {
    max-width: 900px;
    width: 100%;
    height: 1100px;
  }
  .imgssec img {
    max-width: 250px;
    height: 300px;
    width: 100%;
    padding-bottom: 10px;
  }
  .imgtitle {
    font-weight: 700;
  }
  .bestselling{
    text-align: center;
  }
  .btnalldiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .itsmypeakysection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 2000px;
    gap: 20px;
    margin: 10px;
  }
  .girlside {
    max-width: 500px;
    width: 100%;
    height: 300px;
  }
  .womencollection {
    color: rgb(138, 138, 138);
    font-size: 14px;
  }
  .desc {
    color: rgb(138, 138, 138);
    font-size: 14px;
    color: black;
  }
  .shopover {
    color: rgb(118, 118, 118);
    max-width: 700px;
    width: 100%;
  }
  .Peakyblinders {
    background-color: rgb(218, 218, 218);
    padding: 42px;
    color: rgb(72, 72, 72);
    margin: 20px;
  }
  .sizediv {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
  }
  .m {
    background-color: black;
    color: white;
    padding: 3px 20px;
    border-radius: 3px;
  }
  .hundred {
    font-size: 30px;
    color: black;
  }
  .buy {
    background-color: black;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: 600;
    outline: none;
    box-shadow: none;
  }
  .warrentydiv {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .qualitydiv {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .freediv {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .calldiv {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dedicated,
  .crafted,
  .over,
  .order {
    font-size: 12px;
  }
  .icon {
    max-width: 400px;
    width: 100%;
    height: 40px;
  }
  .fouritemsdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
    margin-top: 30px;
  }
  .sit {
    max-width: 300px;
  }
  .follow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    padding-right: 60px;
  }
  .follow h6 {
    white-space: nowrap;
  }
  .browncoat {
    max-width: 200px;
    width: 100%;
    height: 260px;
  }
  .blueheel {
    max-width: 220px;
    width: 100%;
    height: 340px;
  }
  .greydress {
    max-width: 200px;
    width: 100%;
    height: 260px;
  }
  .redpant {
    max-width: 220px;
    width: 100%;
    height: 340px;
  }
  .blackcoat {
    max-width: 200px;
    width: 100%;
    height: 260px;
  }
  .blackgirl {
    max-width: 200px;
    width: 100%;
    height: 340px;
  }
  .redfull {
    max-width: 200px;
    width: 100%;
    height: 230px;
  }

  .followsecimg {
    padding: 20px;
  }
  .thisissection {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(250, 250, 250);
  }
  .thiswhatis {
    font-size: 20px;
    color: rgb(72, 72,72);
  }
  .hearfrom {
    font-size: 16px;
    color: rgb(72, 72,72);
  }
  .cardbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  .card1 {
    background-color: #e9e9e9;
    display: flex;
    align-items: center;
  }
  .card2 {
    background-color: #e9e9e9;
    display: flex;
    align-items: center;
  }

  .blacktshirtimg {
    max-width: 300px;
    width: 100%;
  }
  .yellowshirtimg {
    max-width: 300px;
    width: 100%;
  }
  .you {
    max-width: 500px;
  }
  .hrcard1 {
    max-width: 100px;
    background-color: gray;
    height: 10px;
  }
  .btndiv {
    gap: 10px;
    margin-top: 30px;
  }

  .previousbtn {
    padding: 10px;
    background-color: #ddd;
    border: none;
    border-radius: 20px;
    margin: 5px;
  }
  .previousbtn:focus {
    outline: none;
  }
  .nextbtn {
    padding: 10px;
    margin: 5px;
    background-color: #ddd;
    border-radius: 20px;
    border: none;
    border: none !important;
    box-shadow: none !important;
  }
  .nextbtn:focus {
    outline: none;
  }
  .lastsectionscubs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    margin: 0 auto;
    gap: 30px;
  }
  .subsdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .getthe {
    text-align: center;
  }
  .subsnow {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
  }
  .subscribeto {
    white-space: nowrap;
  }
  .news {
    color:rgb(72, 72, 72);
    font-size: 35px;
  }
  .amet {
    color: rgb(138, 138, 138);
    max-width: 500px;
    width: 100%;
    font-size: 14.5px;
  }
  .camelcoatpic {
    max-width: 200px;
    width: 100%;
    height: 200px;
  }
  .darkgreycoatpic {
    max-width: 800px;
    height: 200px;
    width: 100%;
  }
  .ftdiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .arecom {
    color: rgb(72, 72, 72);
    color: black;
    font-weight: 700;
  }
  .footer-box a {
    text-decoration: none;
    padding: 10px;
    color: rgb(72, 72, 72);
    text-wrap: nowrap;
    flex-wrap: wrap;
    gap: 10px;
  }
  .copydiv {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(72, 72, 72);
    padding-top: 10px;
  }
  .ftdiv {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    flex-direction: column;
  }
  .footer-box {
    text-align: center;
  }
  .footer-box2 a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-box a {
    white-space: nowrap;
    flex-direction: column;
  }
  .ftdiv .footer-box:nth-child(2) {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .header {
    height: 80px;
    display: flex;
    align-items: center;
    position: sticky;
    margin: 20px;
    overflow-x: none;
  }
  .fashiondiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
  }
  .nxtbtimg {
    max-width: 7px;
    width: 100%;
  }
  .homefashion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .homefashion li {
    list-style: none;
  }
  .homefashion li a {
    text-decoration: none;
    color: rgb(72, 72, 72);
  }
  .homefashion p {
    margin-left: 10px;
  }
  .myleftside {
    max-width: 400px;
    width: 100%;
  }
  .right {
    max-width:900px;
    height: 100vh;
    width: 100%;
    padding-left: 120px;
    padding-top: 30px;
  }
  .leftrightdiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .size {
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding-bottom: 10px;
  }
  .box span {
    border: 1px solid gray;
    margin: 10px;
    padding: 12px;
    cursor: pointer;
  }
  .prices p {
    margin-top: 10px;
    cursor: pointer;
    color: rgb(138, 138, 138);
  }
  .price {
    font-size: 18px;
    padding-top: 50px;
  }
  .brandlabel {
    padding-right: 5px;
  }
  .collections {
    padding-top: 20px;
    font-size: 20px;
  }
  .collection p {
    cursor: pointer;
    color: rgb(138, 138, 138);
  }
  .tagsdiv {
    display: flex;
    gap: 20px;
  }
  .tagsdiv {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .tagsdiv span {
    background: #eee;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(88, 88, 88);
  }
  .right {
    max-width: 900px;
    width: 100%;
    height: 1100px;
  }
  .imgssec img {
    max-width: 250px;
    height: 300px;
    width: 100%;
    padding-bottom: 10px;
  }
  .imgtitle {
    font-weight: 700;
  }

  .itsmypeakysection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 2300px;
    gap: 20px;
    margin: 10px;
  }

  .girlside {
    max-width: 500px;
    width: 100%;
    height: 300px;
  }
  .womencollection {
    color: rgb(138, 138, 138);
    font-size: 14px;
  }
  .desc {
    color: rgb(138, 138, 138);
    font-size: 14px;
    color: black;
  }
  .shopover {
    color: rgb(118, 118, 118);
    max-width: 700px;
    width: 100%;
  }
  .Peakyblinders {
    background-color: rgb(218, 218, 218);
    padding: 42px;
    color: rgb(72, 72, 72);
    margin: 20px;
  }
  .sizediv {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
  }
  .m {
    background-color: black;
    color: white;
    padding: 3px 20px;
    border-radius: 3px;
  }
  .hundred {
    font-size: 30px;
    color: black;
  }
  .buy {
    background-color: black;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: 600;
    outline: none;
    box-shadow: none;
  }
  .warrentydiv {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .qualitydiv {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .freediv {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .calldiv {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dedicated,
  .crafted,
  .over,
  .order {
    font-size: 12px;
  }
  .icon {
    max-width: 400px;
    width: 100%;
    height: 40px;
  }
  .fouritemsdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
    margin-top: 30px;
  }

  .sit {
    max-width: 300px;
  }

  .follow {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    padding-top: 100px;
    padding-right: 60px;
  }
  .browncoat {
    max-width: 200px;
    width: 100%;
    height: 260px;
  }

  .blueheel {
    max-width: 220px;
    width: 100%;
    height: 340px;
  }
  .greydress {
    max-width: 200px;
    width: 100%;
    height: 260px;
  }
  .redpant {
    max-width: 220px;
    width: 100%;
    height: 340px;
  }
  .blackcoat {
    max-width: 200px;
    width: 100%;
    height: 260px;
  }
  .blackgirl {
    max-width: 200px;
    width: 100%;
    height: 340px;
  }
  .redfull {
    max-width: 200px;
    width: 100%;
    height: 230px;
  }

  .followsecimg {
    padding: 20px;
  }
  .thisissection {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(250, 250, 250);
    margin-top: 50px;
    margin: 30px;
  }
  .thiswhatis {
    font-size: 20px;
    color: rgb(72, 72, 72);
  }
  .hearfrom {
    font-size: 16px;
    color: rgb(72, 72, 72);
  }
  .cardbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  .card1 {
    background-color: #e9e9e9;
    display: flex;
    align-items: center;
  }
  .card2 {
    background-color: #e9e9e9;
    display: flex;
    align-items: center;
  }

  .blacktshirt {
    max-width: 100px;
    width: 100%;
  }
  .yellowshirt {
    max-width: 100px;
    width: 100%;
  }

  .you {
    max-width: 500px;
  }
  .hrcard1 {
    max-width: 100px;
    background-color: gray;
    height: 10px;
  }
  .btndiv {
    gap: 10px;
    margin-top: 30px;
  }

  .previousbtn {
    padding: 10px;
    background-color: #ddd;
    border: none;
    border-radius: 20px;
    margin: 5px;
  }
  .previousbtn:focus {
    outline: none;
  }

  .nextbtn {
    padding: 10px;
    margin: 5px;
    background-color: #ddd;
    border-radius: 20px;
    border: none;
    border: none !important;
    box-shadow: none !important;
  }
  .nextbtn:focus {
    outline: none;
  }
  .lastsectionscubs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-top: 100px;
  }
  .subsdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .subsnow {
    background-color: black;

    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: 600;
  }
  .news {
    color: rgb(72, 72, 72);
    font-size: 35px;
  }
  .amet {
    color: rgb(138, 138, 138);
    max-width: 500px;
    width: 100%;
    font-size: 14.5px;
  }
  .camelcoatpic {
    max-width: 150px;
    width: 100%;
    height: 200px;
  }
  .darkgreycoatpic {
    max-width: 150px;
    height: 200px;
    width: 100%;
  }
  .ftdiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .arecom {
    color: rgb(72, 72, 72);
    color: black;
    font-weight: 700;
  }
  .footer-box a {
    text-decoration: none;
    padding: 10px;
    color: rgb(72, 72, 72);
    text-wrap: nowrap;
    flex-wrap: wrap;
    gap: 10px;
  }
  .copydiv {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(72, 72, 72, 100);
    padding-top: 10px;
  }
  .ftdiv {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
  .footer-box {
    text-align: center;
  }
  .footer-box a {
    white-space: nowrap;
  }
}
@media (min-width: 769px) and (max-width: 991px) {
  .header {
    height: 80px;
    display: flex;
    align-items: center;
    position: sticky;
    margin: 20px;
    overflow-x: none;
  }
  .fashiondiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
  }

  .nxtbtimg {
    max-width: 7px;
    width: 100%;
  }
  .homefashion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .homefashion li {
    list-style: none;
  }
  .homefashion li a {
    text-decoration: none;
    color: rgb(72, 72, 72);
  }
  .homefashion p {
    margin-left: 10px;
  }
  .myleftside {
    max-width: 400px;
    width: 100%;
  }

  .right {
    max-width: 900px;
    height: 100vh;
    width: 100%;
    padding-left: 120px;
    padding-top: 30px;
  }

  .leftrightdiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .size {
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding-bottom: 10px;
  }
  .box span {
    border: 1px solid gray;
    margin: 10px;
    padding: 12px;
    cursor: pointer;
  }
  .prices p {
    margin-top: 10px;
    cursor: pointer;
    color: rgb(138, 138, 138);
  }
  .price {
    font-size: 18px;
    padding-top: 50px;
  }
  .brandlabel {
    padding-right: 5px;
  }

  .collections {
    padding-top: 20px;
    font-size: 20px;
  }
  .collection p {
    cursor: pointer;
    color: rgb(138, 138, 138);
  }
  .tagsdiv {
    display: flex;
    gap: 20px;
  }
  .tagsdiv {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .tagsdiv span {
    background: #eee;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(88, 88, 88);
  }
  .right {
    max-width: 900px;
    width: 100%;
    height: 1100px;
  }

  .imgssec img {
    max-width: 250px;
    height: 300px;
    width: 100%;
    padding-bottom: 10px;
  }
  .imgtitle {
    font-weight: 700;
  }

  .itsmypeakysection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 2400px;
    gap: 20px;
    margin: 10px;
  }
  .girlside {
    max-width: 500px;
    width: 100%;
    height: 300px;
  }
  .womencollection {
    color: rgb(138, 138, 138);
    font-size: 14px;
  }
  .desc {
    color: rgb(138, 138, 138);
    font-size: 14px;
    color: black;
  }
  .shopover {
    color: rgb(118, 118, 118);
    max-width: 700px;
    width: 100%;
  }
  .Peakyblinders {
    background-color: rgb(218, 218, 218);
    padding: 42px;
    color: rgb(72, 72, 72);
    margin: 20px;
  }
  .sizediv {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
  }
  .m {
    background-color: black;
    color: white;
    padding: 3px 20px;
    border-radius: 3px;
  }
  .hundred {
    font-size: 30px;
    color: black;
  }
  .buy {
    background-color: black;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: 600;
    outline: none;
    box-shadow: none;
  }
  .warrentydiv {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .qualitydiv {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .freediv {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .calldiv {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dedicated,
  .crafted,
  .over,
  .order {
    font-size: 12px;
  }
  .icon {
    max-width: 400px;
    width: 100%;
    height: 40px;
  }
  .fouritemsdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
    margin-top: 30px;
  }

  .sit {
    max-width: 300px;
  }

  .follow {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    padding-top: 100px;
    padding-right: 60px;
  }
  .browncoat {
    max-width: 200px;
    width: 100%;
    height: 260px;
  }

  .blueheel {
    max-width: 220px;
    width: 100%;
    height: 340px;
  }
  .greydress {
    max-width: 200px;
    width: 100%;
    height: 260px;
  }
  .redpant {
    max-width: 220px;
    width: 100%;
    height: 340px;
  }
  .blackcoat {
    max-width: 200px;
    width: 100%;
    height: 260px;
  }
  .blackgirl {
    max-width: 200px;
    width: 100%;
    height: 340px;
  }
  .redfull {
    max-width: 200px;
    width: 100%;
    height: 230px;
  }

  .followsecimg {
    padding: 20px;
  }
  .thisissection {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(250, 250, 250);
    margin-top: 50px;
    margin: 30px;
  }
  .thiswhatis {
    font-size: 20px;
    color: rgb(72, 72, 72);
  }
  .hearfrom {
    font-size: 16px;
    color: rgb(72, 72, 72);
  }
  .cardbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  .card1 {
    background-color: #e9e9e9;
    display: flex;
    align-items: center;
  }
  .card2 {
    background-color: #e9e9e9;
    display: flex;
    align-items: center;
  }

  .blacktshirt {
    max-width: 100px;
    width: 100%;
  }
  .yellowshirt {
    max-width: 100px;
    width: 100%;
  }

  .you {
    max-width: 500px;
  }
  .hrcard1 {
    max-width: 100px;
    background-color: gray;
    height: 10px;
  }
  .btndiv {
    gap: 10px;
    margin-top: 30px;
  }

  .previousbtn {
    padding: 10px;
    background-color: #ddd;
    border: none;
    border-radius: 20px;
    margin: 5px;
  }
  .previousbtn:focus {
    outline: none;
  }

  .nextbtn {
    padding: 10px;
    margin: 5px;
    background-color: #ddd;
    border-radius: 20px;
    border: none;
    border: none !important;
    box-shadow: none !important;
  }
  .nextbtn:focus {
    outline: none;
  }
  .lastsectionscubs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-top: 100px;
  }
  .subsdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .subsnow {
    background-color: black;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: 600;
  }
  .news {
    color: rgb(72, 72, 72);
    font-size: 35px;
  }
  .amet {
    color: rgb(138, 138, 138);
    max-width: 500px;
    width: 100%;
    font-size: 14.5px;
  }
  .camelcoatpic {
    max-width: 150px;
    width: 100%;
    height: 200px;
  }
  .darkgreycoatpic {
    max-width: 150px;
    height: 200px;
    width: 100%;
  }

  .ftdiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .arecom {
    color: rgb(72, 72, 72);
    color: black;
    font-weight: 700;
  }
  .footer-box a {
    text-decoration: none;
    padding: 10px;
    color: rgb(72, 72, 72);
    text-wrap: nowrap;
    flex-wrap: wrap;
    gap: 10px;
  }
  .copydiv {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(72, 72, 72);
    padding-top: 10px;
  }

  .ftdiv {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .footer-box {
    text-align: center;
  }
  .footer-box a {
    white-space: nowrap;
  }
}
